<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D_Market</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/blue.css" />
</head>
<body>
    <header class="header">
        <div class="logo">

        </div>

        <div class="rigthheaderpanel">
            <ul class="rightmenulist">
                <li class="rightmenulist"><a href="">Л/К</a></li>
                <li class="rightmenulist"><a href="">Выйти</a></li>
            </ul>
        </div>

    </header>

    <aside style="clear: both">
        <div class="leftmenuwrapper">
            <div class="leftmenu">
                <div>
                    <ul>
                        <li><a href="">Марихуана</a></li>
                        <li><a href="">A-PVP</a></li>
                        <li><a href="">Диссоциативы</a></li>
                        <li><a href="">Галлюциогены</a></li>
                        <li><a href="">Кокаин</a></li>
                        <li><a href="">Героин</a></li>
                        <li><a href="">Стимуляторы</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div></div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
